.addEntry{
    width: 20%;
    position: relative;
    left: 0%;
    margin-top: 5px;
    --border-radius: 5px;
}
.slipTotal{
    width: 19%;
    position: relative;
    left: 60%;
}

.inputs{
    --border-radius: 5px;
}

.totalHeader {
    margin-left: 60.7%;
    width:6%;
    top: 5%;
}
.total {
    --border-radius: 5px;
    width: 40%;
    left: 67.7%;
}


.itemlabels{
    left: 2%;
    margin-top: 10px;
}