.addEntry{
    width: 20%;
    position: relative;
    left: 0%;
    margin-top: 5px;
    --border-radius: 5px;
}
.slipTotal{
    width: 19%;
    position: relative;
    left: 60%;
}

.inputs{
    --border-radius: 5px;
}

.itemlabels{
    left: 2%;
    margin-top: 10px;
}