.takePicture{
    left:50%;
}

.addEntry{
    left: 53%;
}

.successRedirect {
    display: none;
}

.graph-card{
    min-width: 30%;
    padding: 2%;
    align-items: center;
    display: flex;
    border-radius: 10px;
}

.graph-wrapper {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.footer-home{
    padding-top: 60px;
}

.home-card-title{
    font-size: x-large;
}

.home-info-text{
    padding: 2px;
}

.home-error-message{
    text-align: center;
}

.error-wrapper {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

@media screen and (max-width: 420px) {
    .home-card-title{
        font-size: large;
    }

    .graph-card{
        width: 90%;
    }

    .home-error-message{
        font-size: large;
    }
}