.takePicture{
    left:50%;
}
.addEntry{
    left: 53%;
}
.successRedirect {
    display: none;
}
.graphCol{
    max-width: 50%;
    padding-left: 2%;
}
 @media screen and (max-width: 1205px) {
.graphCol {
       max-width: 100%;
    }
  }