@import url(//fonts.googleapis.com/css?family=Lato:300:400);

/* Components */
.LRCard {
    width: 35%;
}

.LRItems {
    padding: 1%;
    font-size: 16px;
    text-align: center;
    align-content: center;
}

.LRButtons {
    margin: auto;
    padding: 8px;
    width: auto;
    font-size: 16px;
}

.successRedirect {
    display: none;
}

.forgot-pass{
    text-align: right;
    padding-right: 20px;
    font-size: small;
}
.register-link{
    font-size: small;
}

.center-items{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.full-name{
    display: flex;
}

.fl-name{
    padding: 1%;
    font-size: 16px;
    max-width: 50%;
    text-align: center;
}

.reset-text{
    padding: 5px;
}


/* Background */

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(37, 43, 54, 1) 0%, rgba(67, 78, 96, 1) 100%);
    color: white;
}

.inner-header {
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.motionwaves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.footer {
    background-color: #ebebeb;
    padding-top: 5vh;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}


/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 9s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 12s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 15s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 22s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/* Screen size scaling */

@media only screen and (max-width: 1100px) {
    .LRCard {
        width: 60%;
    }
}

@media only screen and (max-width: 620px) {
    .LRCard {
        width: 85%;
    }

    .motionwaves {
        height: 60px;
        min-height: 60px;
    }
}

