.inputcredentials {
    padding-top: 3%;
    /* padding-left: 25%; */
    font-size: 16px;
    color: #fff;
    display: list-item;

    border-color: "secondary";

    text-align: center;
    align-content: center;
}


.LRLogo {
    height:120px ;
    font-size: 400%;
    /* padding-left: 35%; */
    text-align: center;
}

.LRButtons {
   margin: auto;
}