.logincard {
    width: 90%;
    margin-left: 5%;
}

.logoimg {
    padding: 3%;
    width: 60%;
    margin-left: 20%;
}

.loginitems {
    padding: 1%;
    font-size: 16px;
    text-align: center;
    align-content: center;
}

.LRButtons {
   margin: auto;
   padding: 8px;
   width:20%;
   font-size: 16px;
}

@media only screen and (max-width: 390px) {
    .LRButtons {
        min-width: 50%;
    }
}