.headings {
    display: inline-block;
    vertical-align: middle;
}

.center-items {
    vertical-align: middle;
    --border-radius: 10px;
    padding: 2px;
}

.categoryBudgets {
    vertical-align: middle;
    --border-radius: 10px;
    padding: 2px;
    display: none;
}

.info-icon{
    cursor: pointer;
}

.info-icon:hover{
    color: #5AD8C5;
}

.popover-text{
    margin: 10px;
    max-width: 200px;
}

.edit-budget:hover {
    color: #5AD8C5;
    cursor: pointer;
}

.profilePhoto {
    margin: auto;
    border-radius: 20px;
}

.profile-elem {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.profile-photo-fab {
    bottom: 0%;
}

.progressBar {
    max-width: 30%;
    --background: #ebebeb;

}

.categoryProgressBar {
    max-width: 30%;
    --background: #ebebeb;
    right: 50px
}

.logout-button {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    --border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* CARD FLEX  */

.wrapper {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.card {
    border-radius: 10px;
    min-width: 20rem;
    display: flex;
}

.profile {
    flex: 1;
}

.budget {
    flex: 1;
}

.favourite {
    flex: 1;
}

.most-purchased {
    flex: 1;
}

.most-spent {
    flex: 1;
}

.weekly {
    flex: 1;
}

.monthly {
    flex: 1;
}


/* MEDIA SCALABILITY */
@media screen and (min-width: 390px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
    }

    .card {
        flex-direction: column;
        text-align: center;
        min-width: 16rem;
    }
}

@media screen and (min-width: 576px) {
    .logout-button {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        --border-radius: 10px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}