@import url(//fonts.googleapis.com/css?family=Lato:300:400);

/* Components */
.registerCard {
    width: 60%;
    margin-top: 3.5%;
}

.logoimg {
    padding: 3%;
    width: 60%;
    margin-left: 20%;
}

.registerItems {
    padding: 1%;
    font-size: 16px;
    text-align: center;
    align-content: center;
}

.LRButtons {
    margin: auto;
    padding: 8px;
    width: auto;
    font-size: 16px;
}


/* Background */

body {
    margin: 0;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: black;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(51, 60, 74, 1) 0%, rgba(93, 108, 131, 1) 100%);
    color: white;
    
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.motionwaves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #ebebeb;
}

.footer {
    background-color: #ebebeb;
    padding-top: 5vh;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}


/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 9s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 12s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 15s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 22s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/* Mobile */

@media (max-width: 768px) {
    .registerCard {
        width: 90%;
    }

    .motionwaves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 400px) {
    .LRButtons {
        min-width: 50%;
    }
}