.report-cards{
    min-width: 18.5%;
}

.report-card-title{
    font-size: x-large;
}

@media only screen and (max-width: 700px) {
    .report-cards{
        min-width: 90%;
    }
}

@media only screen and (max-width: 350px) {
    .report-cards{
        min-width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .report-card-title{
        font-size: large;
    }
}