ul.no-bullets {
    list-style-type: none;
    line-height: 1.5;
}

.titles{
    --border-radius: 5px;
}

.details{
    --border-radius: 5px;
}

.wrapper {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.receipts-items {
    vertical-align: middle;
    --border-radius: 10px;
    padding: 2px;
}
.receipts-table{
    flex:3;
    min-width: 20rem;
}

.search-bar-header{
    display: flex;
    flex-direction: column;
}

.search-bar-receipts{
    width: 50%;
    padding-right: 10%;
}

.date-div {
    flex-direction: column;
    display: none;
}

.date-item {
   max-width: 200px;
   margin-top: 10px;
   border-radius: 10px;
   padding: 1px;
}

.date-picker {
    border-radius: 10px;
}

.totalSlider{
    margin-top: 30px;
    width: 70%;
    max-width: 85%;
    margin-left: 40px;
    display: none;
}

.emptySlips {
    display: none;
}

@media only screen and (max-width: 700px) {
    .search-bar-receipts{
        min-width: 80%;
    }

    .total-mobile{
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .search-bar-receipts{
        min-width: 50%;
    }
}



