.generate-item-col {
    max-width: 33%;
}

.all-reports{
    max-width: 50%;
}

@media only screen and (max-width: 830px) {
    .generate-item-col {
        min-width: 50%;
    }

    .all-reports{
        max-width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    .generate-item-col {
        min-width: 100%;
    }
}