.item-col {
    max-width: 33%;
}

@media only screen and (max-width: 830px) {
    .item-col {
        min-width: 50%;
    }
}

@media only screen and (max-width: 540px) {
    .item-col {
        min-width: 100%;
    }
}