.items{
    border:none;
    background-color: #333C4A;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    display:list-item;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

ul.no-bullets {
    list-style-type: none;
    line-height: 1.5;
}

.titles{
    --border-radius: 5px;
}

.details{
    --border-radius: 5px;
}

.item-col {
    min-width: 15%;
}

@media only screen and (max-width: 2200px) {
    .item-col {
        min-width: 20%;
    }
}

@media only screen and (max-width: 1700px) {
    .item-col {
        min-width: 25%;
    }
}

@media only screen and (max-width: 1400px) {
    .item-col {
        min-width: 33%;
    }
}

@media only screen and (max-width: 1000px) {
    .item-col {
        min-width: 50%;
    }
}

@media only screen and (max-width: 620px) {
    .item-col {
        min-width: 100%;
    }
}