.inputcredentials {



    padding-top: 3%;
    padding-left: 25%;
    font-size: 16px;
    color: #fff;
    display: list-item;
    max-width: 60%;

    border-color: "secondary";

    text-align: center;
    align-content: center;
}


.LRLogo {
  
    height:120px ;
    font-size: 40px;
    padding-left: 35%;
    align-content: center;
    

}

.LRButtons {
    color: rgb(65, 4, 4);
    /* background-color: blue; */
    padding-left: 38.5%;
    border-color: "secondary";
    border: 10px; 
}